In [1]:
import pandas as pd

In [10]:
ecom = pd.read_csv("Ecommerce Purchases")

In [11]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [12]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [13]:
# ** What is the average Purchase Price? **

ecom['Purchase Price'].mean()

50.347302

In [14]:
#** What were the highest and lowest purchase prices? **

d = ecom['Purchase Price'].nlargest(1).iloc[-1]

In [15]:
d

99.99

In [16]:
d1 = ecom['Purchase Price'].nsmallest(1).iloc[-1]

In [17]:
d1

0.0

In [18]:
#** How many people have English 'en' as their Language of choice on the website? **
ecom['Language'] == 'en'

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Language, Length: 10000, dtype: bool

In [19]:
#** How many people have the job title of "Lawyer" ? **
ecom['Job'] == 'Lawyer'

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Job, Length: 10000, dtype: bool

In [20]:
#** What are the 5 most common Job Titles? **
top_job_titles = ecom['Job'].value_counts().head(5)

In [21]:
top_job_titles

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

In [22]:
# ** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price
# for this transaction? **

purchase_price = ecom.loc[ecom['Lot'] == '90 WT','Purchase Price'].values[0]

In [23]:
purchase_price

75.1

In [24]:
# ** What is the email of the person with the following 
# Credit Card Number: 4926535242672853 **

credit_card_number = 4926535242672853
user_email = ecom.loc[ecom['Credit Card'] == credit_card_number, 'Email'].values[0]

In [25]:
user_email

'bondellen@williams-garza.com'

In [26]:
# ** How many people have American Express as their Credit Card Provider and 
# made a purchase above $95 ?**

filtered_data = ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)]
count_people = filtered_data.shape[0]
print(pd.Series([count_people], index=['Count']))

Count    39
dtype: int64

In [28]:
#** Hard: How many people have a credit card that expires in 2025? **

people_with_expiration_2025 = ecom[ecom['CC Exp Date'] == 2025]
people_with_expiration_2025.shape[0]

0

In [29]:
# ** Hard: What are the top 5 most popular email providers/hosts 
# (e.g. gmail.com, yahoo.com, etc...) **


ecom['Email Domain'] = ecom['Email'].apply(lambda x: x.split('@')[-1])
top_email_providers = ecom['Email Domain'].value_counts().head(5)

In [30]:
top_email_providers

Email Domain
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64